graft clairvoyance
include setup.py
include LICENSE.txt
include README.md
include requirements.txt
global-exclude *.py[cod]
global-exclude Icon*
global-exclude .DS_Store
exclude *.egg-info
exclude dist
exclude conda_builds